# Env Example
DATABASE_URL=postgres://postgres:[password]@[url]:[port]/[DB_NAME]
ADMIN_EMAIL=email
ADMIN_PASSWORD=password
JWT_SECRET=local_dev_secret_do_not_use_in_prod
PORT=8080

FRONTEND_URL=""